
@{
    ViewBag.Title = "All Players";
}
@model List<NavigationProperty.Models.Player>

<h2>List of players</h2>
<p>@Html.ActionLink("Create player", "Create")</p>
<div>
    <table>
        <tr>
            <td><p>ID</p></td>
            <td><p>Name</p></td>
            <td><p>Age</p></td>
            <td><p>Name team</p></td>
            <td></td>
        </tr>
        @foreach (NavigationProperty.Models.Player player in Model)
        {
            <tr>
                <td><p>@player.ID</p></td>
                <td><p>@player.Name</p></td>
                <td><p>@player.Age</p></td>
                <td><p>@player.Team.Name</p></td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = player.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = player.ID })
                </td>
            </tr>
        }
    </table>
</div>


